{% load filters %}
{% comment %} hacky way of reading pie chart data from django template variables {% endcomment %}
<input id="pie_chart_data" value = "{{ pie_chart_data | safe }}" style="display:none;">
<input id="pie_chart_labels" value = "{{ pie_chart_labels | safe }}" style="display:none;">
<input id="pie_chart_colors" value = "{{ pie_chart_colors | safe }}" style="display:none;">

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title">Sport Distribution</h4>
    </div>
    <div class="card-body ">
        <canvas id="chartSportDistribution" class="ct-chart ct-perfect-fourth"></canvas>
    </div>
    <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="fas fa-history"></i>
            Over the last {{ days|days_to_years }}
        </div>
    </div>
</div>
