[Unit]
Description=Workoutizer Device Mounting Service

[Service]
User=pi
ExecStart=curl -X POST "Content-Type: application/json" http://{{ address_plus_port }}/mount-device/
