__pycache__/
static/
!wkz/static/
media/*.gpx
tracks/*.gpx
tracks/*.fit
.pytest_cache/
*.sqlite3
wkz/tests/data/tested_data/*.gpx
wkz/tests/data/tested_data/*.fit
dist/
build/
*.egg-info
.eggs/
venv/
.vscode/settings.json
.vscode/.ropeproject/objectdb
*.log*
spike/
selenium_ide/
.devcontainer/tz
.DS_Store
.coverage
profiling/
