__pycache__/
static/
media/*.gpx
tracks/*.gpx
tracks/*.fit
.pytest_cache/
*.sqlite3
wizer/tests/integration_tests/data/tested_data/*.gpx
geckodriver.log
dist/
build/
*.egg-info
.eggs/
venv/
.vscode/settings.json