{% extends 'lib/base_new.html' %}
{% load static %}
{% block body %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create a new Sport</h4>
    </div>
    <div class="card-body">
        <form action="{% url 'add-sport' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% include "sport/sport_form.html" %}
            <button id="button" class="btn btn-warning" type="submit" name="action"><i class="fas fa-check"></i>&nbsp;&nbsp;Submit
            </button>
        </form>
    </div>
</div>
{% endblock %}
