body {
    font-family: 'Ubuntu', sans-serif;
}

.btn-space {
    margin-right: 5px;
}

.leaflet-container {
    height: 500px;
}

#id_path_to_trace_dir {
    width: 70%;
}

#id_gpx_checker_interval {
    width: 10%;
}

#id_duration {
    width: 10%;
}

#id_distance {
    width: 10%;
}

#id_description {
    width: 70%;
}

#id_title {
    width: 70%;
}

.sidenav {
    position: fixed;
}

.dropdown-menu {
  min-width:inherit;
}

.table td.limit {
    max-width: 350px;
}
.table td.limit span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}