body {
    font-family: 'Ubuntu', sans-serif;
}


a.btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: none;
}

.dropdown-content {
    min-width: 200px;
}


.leaflet-container { /* all maps */
    /*width: 600px;*/
    height: 65%;
}


.errorlist {
    color: red;
}


.inline-icon {
   vertical-align: bottom;
   font-size: 18px !important;
}
