{% extends 'lib/base.html' %}
{% load static %}
{% block body %}
    <title>All Sports | Workoutizer</title>
    <h3>Your Sports</h3>
    <hr>
    <br>
    <div class="container">
        {% include "lib/messages.html" %}
        <p>List of all Sports:</p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Icon</th>
                <th>Slug</th>
            </tr>
            </thead>
            {% for sport in sports %}
                {% if sport.slug != 'unknown' %}
                    <tbody>
                    <tr>
                        <td><a href="/sport/{{ sport.slug }}">{{ sport.name }}</a></td>
                        <td style="color:{{ sport.color }}">{{ sport.color }}</td>
                        <td><i class="fas fa-{{ sport.icon }}"></i></td>
                        <td>{{ sport.slug }}</td>
                    </tr>
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
        <br>
        <a href="{% url 'add-sport' %}" class="btn btn-warning"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add new Sport</a>
    </div>
{% endblock %}