<head>
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <!-- Leaflet-UI -->
    <script src="https://unpkg.com/leaflet-ui@latest/dist/leaflet-ui.js"></script>
</head>

<div id="map"></div>

<script>
    // config options of leaflet-ui plugin: https://github.com/Raruto/leaflet-ui
    var map = L.map('map', {
        mapTypeId: 'topo',
        mapTypeIds: ['osm', 'terrain', 'satellite', 'topo'],
        gestureHandling: false,     // zoom with Cmd + Scroll
        zoomControl: true,          // plus minus buttons
        pegmanControl: false,
        locateControl: false,
        fullscreenControl: true,
        layersControl: true,
        minimapControl: false,
        editInOSMControl: false,
        loadingControl: false,
        searchControl: false,
        disableDefaultUI: false,
        printControl: false,
    });
    map.once('idle', function () { /* Waiting for map init */
    });

    // workoutizer settings for adding traces to map
    var Traces = [{
        {% for line in traces %}
            "type": "LineString",
            "coordinates": {{ line.coordinates }}
            }, {
        {% endfor %}
    }];

    var geoJsonLayer = L.geoJson(Traces);
    var Bounds = geoJsonLayer.getBounds();
    map.fitBounds(Bounds);

    {# custom hover popup marksers, from: http://jsfiddle.net/sowelie/3JbNY/ #}
    var MyCustomMarker = L.Marker.extend({
        bindPopup: function (htmlContent, options) {
            if (options && options.showOnMouseOver) {
                // call the super method
                L.Marker.prototype.bindPopup.apply(this, [htmlContent, options]);
                // unbind the click event
                this.off("click", this.openPopup, this);
                // bind to mouse over
                this.on("mouseover", function (e) {
                    // get the element that the mouse hovered onto
                    var target = e.originalEvent.fromElement || e.originalEvent.relatedTarget;
                    var parent = this._getParent(target, "leaflet-popup");
                    // check to see if the element is a popup, and if it is this marker's popup
                    if (parent == this._popup._container)
                        return true;
                    // show the popup
                    this.openPopup();
                }, this);

                // and mouse out
                this.on("mouseout", function (e) {
                    // get the element that the mouse hovered onto
                    var target = e.originalEvent.toElement || e.originalEvent.relatedTarget;
                    // check to see if the element is a popup
                    if (this._getParent(target, "leaflet-popup")) {
                        L.DomEvent.on(this._popup._container, "mouseout", this._popupMouseOut, this);
                        return true;
                    }
                    // hide the popup
                    this.closePopup();
                }, this);
            }
        },

        _popupMouseOut: function (e) {
            // detach the event
            L.DomEvent.off(this._popup, "mouseout", this._popupMouseOut, this);
            // get the element that the mouse hovered onto
            var target = e.toElement || e.relatedTarget;
            // check to see if the element is a popup
            if (this._getParent(target, "leaflet-popup"))
                return true;
            // check to see if the marker was hovered back onto
            if (target == this._icon)
                return true;
            // hide the popup
            this.closePopup();
        },
        _getParent: function (element, className) {
            var parent = element.parentNode;
            while (parent != null) {
                if (parent.className && L.DomUtil.hasClass(parent, className))
                    return parent;
                parent = parent.parentNode;
            }
            return false;
        }
    });
    var markers = new L.FeatureGroup();

    {% for line in traces %}
        numPts ={{ line.coordinates }};
        beg = {{ line.coordinates }}[0];
        end = {{ line.coordinates }}[numPts.length - 1];

        var begin_marker = new MyCustomMarker([beg[1], beg[0]]).addTo(map);
        begin_marker.bindPopup("<p>Begin</p>", {
            showOnMouseOver: true
        });
        var end_marker = new MyCustomMarker([end[1], end[0]]).addTo(map);
        end_marker.bindPopup("<p>End</p>", {
            showOnMouseOver: true
        });
        markers.addLayer(begin_marker);
        markers.addLayer(end_marker);
        map.addLayer(markers);

    {% endfor %}

    var Style = {
        "color": "{{ color }}",
        "weight": {{ settings.trace_width }},
        "opacity": {{ settings.trace_opacity }}
    };

    L.geoJSON(Traces, {style: Style}).addTo(map);

</script>
<br>