<title>Activity</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}
    <body>
    <div class="container">
        <p class="flow-text">Activities</p>


        <table class="highlight" style="width: 40%">
            <tbody>
            {% for k, v in activity.items %}
                <tr>
                    <th scope="row">{{ k }}</th>
                    <td>{{ v }}</td>
                <tr>
            {% endfor %}
            </tbody>
        </table>

        <p></p>
        {{ activity }}

        <br>
        <p></p>

        <img src="{% static 'img/star.png' %}" alt="My image">

    </div>
    </body>
{% endblock %}