<title>Activity</title>
{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block body %}
    <body>
    <div class="container">
        <h3>{{ activity.title }}</h3>
        <p>{{ activity.date }}</p>
        <hr>
        <br>

        <div class="row">
            <div class="col s2">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Sport</th>
                        <td>{{ activity.sport }}</td>
                    <tr>
                    <tr>
                        <th scope="row">Duration</th>
                        <td>{{ activity.duration }}</td>
                    <tr>
                    <tr>
                        <th scope="row">Distance</th>
                        <td>{{ activity.distance }}</td>
                    <tr>
                    </tbody>
                </table>
            </div>
            <div class="col s10">
                {#                {% leaflet_map "main" %}#}
                <div id="mapid" style="height: 400px;"></div>
                <script>
                    var geojsonFeature = {{ track|safe }};
                    var mymap = L.map('mapid').setView([47.919673, 7.903712], 13);
                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(mymap);

                    var myroads = L.geoJSON().addTo(mymap);
                    myroads.addData(geojsonFeature);

                </script>

            </div>
        </div>
    </div>
    </body>
{% endblock %}