{% extends 'lib/base.html' %}
{% load filters %}
{% load static %}
{% block body %}

    <title>{{ activity.name }} - Workoutizer</title>
    <h3 class="float-left">{{ activity.name }}&nbsp;&nbsp; <a href="/sport/{{ activity.sport.slug }}"
                                                              style="color: {{ activity.sport.color }};">
        <i class="fas fa-{{ activity.sport.icon }}"></i>
    </a></h3>
    <a class="float-right btn btn-warning" href="{{ activity.id }}/edit"><i class="fas fa-pen"></i>&nbsp;&nbsp;Edit
        Activity</a>
    <div class="clearfix"></div>
    <p>{{ activity.date }}</p>
    <hr>
    <br>
    {% include "lib/messages.html" %}
    <div class="row">
        <div class="col-sm-3">
            <div class="card-deck">
                <div class="card box-shadow">
                    <div class="card-header">
                        <h5 class="text-center">Summary</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th scope="row"><i class="fas fa-road" data-toggle="tooltip" data-placement="bottom"
                                                   title="Distance"></i></th>
                                <td>{{ activity.distance }} km</td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fas fa-history" data-toggle="tooltip" data-placement="bottom"
                                                   title="Duration"></i></th>
                                <td>{{ activity.duration|table_duration }} h</td>
                            </tr>
                            <tr>
                                <th scope="row">Sport</th>
                                <td><a href="/sport/{{ activity.sport.slug }}"
                                       style="color: {{ activity.sport.color }};">
                                    <i class="fas fa-{{ activity.sport.icon }}"></i>
                                </a></td>
                            </tr>
                            {% if activity.calories %}
                                <tr>
                                    <th scope="row">Calories</th>
                                    <td>{{ activity.calories }} kcal</td>
                                </tr>
                            {% endif %}
                            {% if activity.description %}
                                <tr>
                                    <th scope="row">Description</th>
                                    <td></td>
                                </tr>
                            {% endif %}
                        </table>
                        {% if activity.description %}
                            {{ activity.description }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if traces %}
                <br>
                <a class="btn-sm btn-warning" href="{{ activity.id }}/download">Download GPX&nbsp;&nbsp;<i
                        class="fas fa-download"></i></a>
            {% endif %}
        </div>
        {% if traces %}
            <div class="col-sm-9">
                {% include "lib/map.html" %}
            </div>
        {% endif %}
    </div>
{% endblock %}
