{% extends 'lib/base.html' %}
{% block body %}
{% include "lib/summary_facts.html" %}
<div class="row">
    <div class="col-sm-12">
        {% include 'plotting/plot_history.html' %}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sport Distribution</h4>
            </div>
            <div class="card-body">
                {% include 'plotting/plot_pie_chart.html' %}
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fas fa-history"></i>
                    Over the last {{ days }} days
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sport Trend</h4>
            </div>
            <div class="card-body">
                {% include 'plotting/plot_trend.html' %}
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fas fa-history"></i>
                    Over the last {{ days }} days
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'lib/table.html' %}
{% endblock %}