{% extends 'base.html' %}
{% load leaflet_tags %}
{% block body %}
    <title>{{ activity.title }} - Workoutizer</title>
    <body>
    <div class="container">
        <h3 class="float-left">{{ activity.title }}</h3>
        <a class="float-right btn btn-warning" href="{{ activity.id }}/edit"><i class="fas fa-pen"></i>&nbsp;&nbsp;Edit</a>
        <div class="clearfix"></div>
        <p>{{ activity.date }}</p>
        <hr>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <table class="table table-hover">
                    <tr>
                        <th scope="row">Sport</th>
                        <td>{{ activity.sport }}</td>
                    <tr>
                    <tr>
                        <th scope="row">Duration</th>
                        <td>{{ activity.duration }}</td>
                    <tr>
                    <tr>
                        <th scope="row">Distance</th>
                        <td>{{ activity.distance }}</td>
                    <tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ activity.description }}</td>
                    <tr>
                </table>
            </div>
            {% if activity.trace_file %}
                <div class="col-sm-8">
                    <div id="mapid"></div>
                    <script type="text/javascript">
                        var geojsonFeature = {{ activity.trace_file.geojson|safe }};
                        var mymap = L.map('mapid').setView([{{ activity.trace_file.center_lon }}, {{ activity.trace_file.center_lat }}], 12);
                        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(mymap);
                        var mytrace = L.geoJSON().addTo(mymap);
                        mytrace.addData(geojsonFeature);
                    </script>
                </div>
            {% endif %}
        </div>
    </div>
    </body>
{% endblock %}