<title>Add new Activity - Workoutizer</title>

{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container">
        <h3>Add new Activity</h3>

        <form action="/add-activity/" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <br>
            <button id="button" class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
{% endblock %}
