<title>Dashboard | Workoutizer</title>
{% extends 'lib/base.html' %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-sm-9">
            <h3>Dashboard</h3>
            <hr>
            {% include "lib/messages.html" %}
            {% include 'plotting/plot_activity_history.html' %}
            <br>
            {% include 'lib/table.html' %}
        </div>
        <div class="col-sm-3">
            <div class="sidenav">
                {% include 'lib/sidenav/summary_facts.html' %}
                <br>
                {% include 'lib/sidenav/pie_chart.html' %}
            </div>
        </div>
    </div>
{% endblock %}