<title>Dashboard - Workoutizer</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}
    <body>
    <div class="container">

        <p class="flow-text">Dashboard</p>

        <table class="highlight">
            <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Track</th>
                <th>Sport</th>
                <th>Duration</th>
                <th>Distance</th>
            </tr>
            </thead>
            {% for a in activities %}
                <tbody>
                <tr>
                    <td>{{ a.date }}</td>
                    <td><a href="/activity/{{ a.id }}">{{ a.title }}</a></td>
                    <td>
                        {% if a.trace_file %}
                            <i class="inline-icon material-icons">map</i>
                        {% else %}
{#                            <i class="inline-icon material-icons">do_not_disturb</i>#}
                        {% endif %}
                    </td>
                    <td><a href="/sports/{{ a.sport.slug }}">{{ a.sport }}</a></td>
                    <td>{{ a.duration }}</td>
                    <td>{{ a.distance }}</td>
                </tr>
                </tbody>
            {% endfor %}

        </table>

    </div>
    </body>
{% endblock %}