<title>Dashboard - Workoutizer</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}
    <h3>Dashboard</h3>
    <br>

    {% include 'plot.html' %}
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Track</th>
            <th>Sport</th>
            <th>Duration</th>
            <th>Distance</th>
        </tr>
        </thead>
        {% for a in activities %}
            <tbody>
            <tr>
                <td>{{ a.date }}</td>
                <td><a href="/activity/{{ a.id }}">{{ a.title }}</a></td>
                <td>
                    {% if a.trace_file.coordinates|length > 2 %}
                        <i class="fas fa-map-marked-alt"></i>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a href="/sport/{{ a.sport.slug }}" style="color: {{ a.sport.color }};">
                        <i class="fas fa-{{ a.sport.icon }}"></i>
                    </a>
                </td>
                <td>{{ a.duration }}</td>
                <td>{{ a.distance }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}