<title>Edit Activity - Workoutizer</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container">
        <h3>Edit {{ activity }}</h3>
        <br>
        <div class="container">
            <form action="/activity/{{ activity.id }}/edit/" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group row">
                    <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="name" value="{{ activity.title }}">
                    </div>
                    <div class="col-sm-4">
                        {{ form.title.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.sport.id_for_label }}" class="col-sm-2 col-form-label">Sport</label>
                    <div class="col-sm-6">

                        <select name="sport">
                            <option value="">{{ activity.sport }}</option>
                            {% for sport in sports %}
                                <option>
                                    {{ sport.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        {{ form.title.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.date.id_for_label }}" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="date" value="{{ activity.date }}">
                    </div>
                    <div class="col-sm-4">
                        {{ form.title.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.duration.id_for_label }}" class="col-sm-2 col-form-label">Duration</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="duration" value="{{ activity.duration }}">
                    </div>
                    <div class="col-sm-4">
                        {{ form.title.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.distance.id_for_label }}" class="col-sm-2 col-form-label">Distance</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="distance" value="{{ activity.distance }}">
                    </div>
                    <div class="col-sm-4">
                        {{ form.title.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="description" value="{{ activity.description }}">
                    </div>
                    <div class="col-sm-4">
                        {{ form.title.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <button id="button" class="btn btn-warning" type="submit" name="action">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}