<div id="mapid"></div>
<script type="text/javascript">
    var map = L.map('mapid').fitBounds({{ corner }});
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var myLines = [{
        {% for line in traces %}
            "type": "LineString",
            "coordinates": {{ line.coordinates }}  // multiple lines are possible here
        {% endfor %}
    }];
    {% for line in traces %}
        var numPts = {{ line.coordinates }}.length;
        var beg = {{ line.coordinates }}[0];
        var end = {{ line.coordinates }}[numPts - 1];

        L.marker([beg[1], beg[0]]).addTo(map);
        L.marker([end[1], end[0]]).addTo(map);
    {% endfor %}

    var myStyle = {
        "color": "{{ color }}",
        "weight": {{ settings.trace_width }},
        "opacity": {{ settings.trace_opacity }}
    };

    L.geoJSON(myLines, {style: myStyle}).addTo(map);
</script>
<br>
