<nav>
    <div class="nav-wrapper">
        <a href="/" class="center brand-logo"><i class="material-icons">polymer</i><b
                class="flow-text hide-on-med-and-down">Workoutizer</b></a>

        <ul class="left">
            <li><a href="/add-activity" class="waves-effect waves-light btn"><i
                    class="material-icons left">add</i>Activity</a></li>
        </ul>
        <ul class="right">
            <li><a class="dropdown-trigger" href="#!" data-target="mysports-dd">
                <i class="material-icons">directions_run expand_more</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="notification-dd">
                <i class="material-icons">notifications_none expand_more</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="settings-dd">
                <i class="material-icons">settings expand_more</i></a></li>
        </ul>
    </div>
</nav>

{# Dropdowns #}
{# Settings #}
<ul id="settings-dd" class="dropdown-content">
    <li><a href="#!">
        <div><b>Fabian Gebhart</b>
            <p>That's me</p></div>
    </a></li>
    <li class="divider"></li>
    <li><a href="#!">Profile</a></li>
    <li><a href="#!">Settings</a></li>
    <li class="divider"></li>
    <li><a href="#!"><i class="material-icons left">vpn_key</i>Sign out</a></li>
</ul>

{# My Sports #}
<ul id="mysports-dd" class="dropdown-content">
    {% for s in sports %}
    <li><a href="/sports/{{ s.slug }}">{{ s.name }}</a></li>
    {% endfor %}
    <li class="divider"></li>
    <li><a href="/add-sports"><i class="material-icons left">add</i>Sport</a></li>
</ul>

{# Notifications #}
<ul id="notification-dd" class="dropdown-content">
    <li><a href="#!"><i class="material-icons left">info_outline</i>nothing here</a></li>
</ul>
