<nav>
    <div class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/add-activity" class="btn btn-warning">Add Activity</a></li>
            <li class="nav-item active"><a class="nav-link" href="/"><b>Workoutizer</b></a></li>
            <li class="nav-item"><a class="nav-link" href="#!">My Sports</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Notifications</a></li>
            <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
        </ul>
    </div>
</nav>

{# Dropdowns #}
{# Settings #}
{#<ul id="settings-dd" class="dropdown-content">#}
{#    <li><a href="#!">#}
{#        <div><b>Fabian Gebhart</b>#}
{#            <p>That's me</p></div>#}
{#    </a></li>#}
{#    <li class="divider"></li>#}
{#    <li><a href="#!">Profile</a></li>#}
{#    <li><a href="#!">Settings</a></li>#}
{#    <li class="divider"></li>#}
{#    <li><a href="#!"><i class="material-icons left">vpn_key</i>Sign out</a></li>#}
{#</ul>#}
{##}
{# My Sports #}
{#<ul id="mysports-dd" class="dropdown-content">#}
{#    {% for s in sports %}#}
{#        <li><a href="/sports/{{ s.slug }}">{{ s.name }}</a></li>#}
{#    {% endfor %}#}
{#    <li class="divider"></li>#}
{#    <li><a href="/add-sport"><i class="material-icons left">add</i>Sport</a></li>#}
{#</ul>#}
{##}
{# Notifications #}
{#<ul id="notification-dd" class="dropdown-content">#}
{#    <li><a href="#!"><i class="material-icons left">info_outline</i>nothing here</a></li>#}
{#</ul>#}
