<title>Settings - Workoutizer</title>

{% extends 'base.html' %}
{% load static %}
{% block body %}

    <body>
    <div class="container">
        <h3>Settings</h3>
        <div class="row">
            <div class="input-field col s6">
                <form action="/settings/" method="post" accept-charset="utf-8">
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.path_to_trace_dir.errors }}
                        <label for="{{ form.name.id_for_label }}">Path to your GPX File Directory</label>
                        <input name='path_to_trace_dir' type="text" value="{{ settings.path_to_trace_dir }}">
                    </div>
                    <br>
                    <button id="button" class="btn btn-warning" type="submit" name="action">Save</button>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
