<title>Settings - Workoutizer</title>

{% extends 'lib/base.html' %}
{% load static %}
{% block body %}
    <h3>Settings</h3>
    <hr>
    <br>
    <div class="container">
        <form action="{% url 'settings' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "lib/form_erros.html" %}
            {% include "lib/messages.html" %}
            <h5><b>File Importer</b></h5>
            <hr>
            <div class="form-group row">
                <div class="col-sm-3">{{ form.path_to_trace_dir.label }}</div>
                <div class="col-sm-9">{{ form.path_to_trace_dir }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">{{ form.path_to_garmin_device.label }}</div>
                <div class="col-sm-9">{{ form.path_to_garmin_device }}&nbsp;
                    <i class="fas fa-question" data-toggle="tooltip" data-placement="bottom"
                       title="Enter the path where your connected device shows up. Your connected device should start with 'mtp:host' and contain the folders Primary/GARMIN/Activity/ where your .fit files are located in."></i>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">{{ form.file_checker_interval.label }}</div>
                <div class="col-sm-9">{{ form.file_checker_interval }}&nbsp;&nbsp;seconds</div>
            </div>
            <br>
            <h5><b>Maps</b></h5>
            <hr>
            <div class="form-group row">
                <div class="col-sm-3">{{ form.map_type.label }}</div>
                <div class="col-sm-9">{{ form.map_type }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">{{ form.trace_width.label }}</div>
                <div class="col-sm-9">{{ form.trace_width }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">{{ form.trace_opacity.label }}</div>
                <div class="col-sm-9">{{ form.trace_opacity }}</div>
            </div>
            <br>
            <h5><b>Plotting</b></h5>
            <hr>
            <div class="form-group row">
                <div class="col-sm-3">{{ form.plotting_style.label }}</div>
                <div class="col-sm-9">{{ form.plotting_style }}</div>
            </div>
            <br>
            <button id="button" class="btn btn-warning" type="submit" name="action">Save</button>
        </form>
    </div>
{% endblock %}
