[Unit]
Description=Workoutizer - Workout Organizer

[Service]
Type=idle
WorkingDirectory=/home/pi/workoutizer/workoutizer
ExecStart=/home/pi/wkz/bin/python3.7 manage.py runserver 0.0.0.0:8000 --noreload
User=pi

[Install]
WantedBy=multi-user.target