<nav class="indigo darken-4">
    <div class="nav-wrapper">
        <a href="/" class="center brand-logo"><i class="material-icons icon-orange">polymer</i><b
                class="flow-text hide-on-med-and-down">Workoutizer</b></a>

        <ul class="left">
            <li><a href="activity" class="waves-effect waves-light btn orange accent-3"><i
                    class="material-icons left">add</i>Activity</a></li>
        </ul>
        <ul class="right">
            <li><a href="#!" class="dropdown-trigger" data-target="mysports-dd">
                <i class="material-icons right">directions_run directions_bike expand_more</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="settings-dd">
                <i class="material-icons right">build expand_more</i></a></li>
        </ul>
    </div>
</nav>

<!-- Dropdown Structure -->
<ul id="mysports-dd" class="dropdown-content">
    <li><a href="#!" style="color: black;">Running</a></li>
    <li><a href="#!" style="color: black;">Swimming</a></li>
    <li><a href="#!" style="color: black;">Biking</a></li>
    <li class="divider"></li>
    <li><a href="#!" style="color: grey;"><i class="material-icons left">add</i>Sport</a></li>
</ul>
<ul id="settings-dd" class="dropdown-content">
    <li><a href="#!" style="color: black;"><div><b>Fabian Gebhart</b><p>That's me</p></div></a></li>
    <li class="divider"></li>
    <li><a href="#!" style="color: black;">Profile</a></li>
    <li><a href="#!" style="color: black;">Settings</a></li>
    <li class="divider"></li>
    <li><a href="#!" style="color: grey;">Sign out</a></li>
</ul>
