<title>Edit Sport - Workoutizer</title>
{% extends 'lib/base.html' %}
{% load static %}
{% block body %}
    <div class="container">
        <h3 class="float-left">Edit&nbsp;&nbsp;&nbsp;<i class="fas fa-{{ sport.icon }}"
                                                        style="color: {{ sport.color }};"></i>&nbsp;&nbsp;&nbsp;{{ sport.name }}
        </h3>
        <div class="clearfix"></div>
        <br>

        <p>Modify the attributes:</p>

        <div class="container">

            <form action="/sport/{{ sport.slug }}/edit/" method="post" accept-charset="utf-8"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% include "lib/form_erros.html" %}
                {% include "lib/messages.html" %}
                <div class="form-group row">
                    <div class="col-sm-2">{{ form.name.label }}</div>
                    <div class="col-sm-10">{{ form.name }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">{{ form.color.label }}</div>
                    <div class="col-sm-10">{{ form.color }}&nbsp;&nbsp;(choose one of <a
                            href="https://www.w3schools.com/colors/colors_groups.asp">these colors</a>)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">{{ form.icon.label }}</div>
                    <div class="col-sm-10">{{ form.icon }}&nbsp;&nbsp;(name of <a href="https://fontawesome.com/">font
                        awesome</a> icon)
                    </div>
                </div>
                <button id="button" class="float-left btn btn-warning btn-space" type="submit" name="action"><i
                        class="fas fa-check"></i>&nbsp;&nbsp;Save
                </button>
                <a href="/sport/{{ sport.slug }}" class="float-left btn btn-outline-secondary">Cancel</a>
                <a href="/sport/{{ sport.slug }}/delete/" class="float-right btn btn-danger"><i
                        class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete</a>
                <div class="clearfix"></div>
            </form>

        </div>
    </div>
{% endblock %}
