<title>Sport</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}
    <h3 class="float-left"><i class="fas fa-{{ sport.icon }}"
                              style="color: {{ sport.color }};"></i>&nbsp;&nbsp;&nbsp;{{ sport.name }}
    </h3>
    <a class="float-right btn btn-warning" href="{{ sport.slug }}/edit"><i
            class="fas fa-pen"></i>&nbsp;&nbsp;Edit Sport</a>
    <div class="clearfix"></div>
    <style type="text/css" media="screen">
        .leaflet-container {
            height: 280px;
        }

        .sidenav {
            position: fixed;
        }
    </style>
    <hr>
    <div class="row">
        {% if traces %}
            <div class="col-sm-7">
                {% include 'plot.html' %}
            </div>
            <div class="col-sm-5">
                <p>Map of selected {{ sport.name }} activities:
                </p>
                {% include 'map.html' %}
            </div>
        {% else %}
            <div class="col-sm-12">
                {% include 'plot.html' %}
            </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
    <div class="col-sm-9">
        {% include 'table.html' %}
    </div>
    <div class="col-sm-3">
        {% include 'sidenav.html' %}
    </div>
{% endblock %}

