<title>Sports Discipline</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}

    <h3 class="float-left"><i class="fas fa-{{ sport.icon }}"
                              style="color: {{ sport.color }};"></i>&nbsp;&nbsp;&nbsp;{{ sport.name }}
    </h3>
    <a class="float-right btn btn-warning" href="{{ sport.slug }}/edit"><i
            class="fas fa-pen"></i>&nbsp;&nbsp;Edit</a>
    <div class="clearfix"></div>
    <hr>
    <style type="text/css" media="screen">
        .leaflet-container {
            height: 280px;
        }
    </style>
    <div class="row">
        {% if traces %}
            <div class="col-sm-7">
                {% include 'plot.html' %}
            </div>
            <div class="col-sm-5">
                <p>Map selected {{ sport.name }} activities:
                </p>
                {% include 'map.html' %}
            </div>
        {% else %}
            <div class="col-sm-12">
                {% include 'plot.html' %}
            </div>
        {% endif %}
    </div>
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Track</th>
            <th>Duration</th>
            <th>Distance</th>
        </tr>
        </thead>
        {% for a in activities %}
            <tbody>
            <tr>
                <td>{{ a.date }}</td>
                <td><a href="/activity/{{ a.id }}">{{ a.title }}</a></td>
                <td>
                    {% if a.trace_file %}
                        <i class="fas fa-map-marked-alt"></i>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ a.duration }}</td>
                <td>{{ a.distance }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}

