body {
    font-family: 'Ubuntu', sans-serif;
}

ul.dropdown-content-black {
    color: #000;
}

a.btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: none;
}

.dropdown-content {
    min-width: 200px;
}
