
name: Single Test

on:
  push:
    paths:
      - "**.py"
      - "setup/requirements/**.txt"
      - ".github/workflows/single_test.yml"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        pip install pip==21.2.4   # 21.3 breaks editable install
        pip install -r setup/requirements/dev-requirements.txt
        pip install -e .

    - name: Run Tests
      run: |
        pytest tests/ -vv -n2 --color=yes
