bokeh==1.4.0            # pinned due to CustomJS "use_strict" mode, will break my CustomJS
coloredlogs
click
django>=3.1.8
django-colorfield
djangorestframework
fitparse==1.1.0         # pinned because 1.2.0 changed its API (altitude data changed)
geopy>=2.1.0
gpxpy
pandas
psutil
requests
sportgems==0.5.0        # pinned to avoid unexpected issues because of interface not being stable yet
watchdog
luddite
