bokeh==1.4.0            # pinned due to CustomJS "use_strict" mode, will break my CustomJS
coloredlogs
click
dask[distributed]
django<4.0.0           # 4.0.0 dropps python3.7 support
django-colorfield
djangorestframework
fitparse
geopy>=2.1.0
gpxpy
huey
numpy<1.22.0           # 1.22.0 dropps python3.7 support
pandas<1.3.0           # pinned because of a bug in groupby in v1.3.0 https://github.com/pandas-dev/pandas/issues/43209
psutil
requests
sportgems==0.6.0        # pinned to avoid unexpected issues because of interface not being stable yet
luddite
tenacity
django-eventstream
channels
pyudev
Pillow>=9.0.0           # to remedy CVEs
